:root{
    --btn-border__color: #dcdcdc;
    --btn-background__color: #f2f2f2;
}
.character_card{
    margin-right : 1rem;
    margin-top : 1rem;
    overflow: hidden;
    width: 240px;
}

.character_card p{
    padding : 0.5rem 2rem;
    margin: 0;
}

.character_image{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#list_characters ul{
    padding: 0!important;
}

.btn.btn_filter_characters{
    border: 1px solid var(--btn-border__color);
    border-radius: 50px;
}

.btn.btn_filter_characters:hover{
    background-color: var(--btn-background__color);
}

.detailItem{
    width: 100%;
    padding: 1rem;
}

.character_title{
    font-size: 1.1rem;
    font-weight: 500;
}